<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <<!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Gallant Runner</h1>

        <p>Login or Register with:</p>
        <button onclick="login()" class="btn btn-danger fa fa-google-plus">Google+</button>
    </div>

</div>
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script src="js/Chart.min.js"></script>
<script src="js/ResponseHandlerHub.js"></script>
<script src="js/common.js"></script>
<script src="js/login.js"></script>


</body>
</html>
